@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    font-size: small;
  }
  100% {
    opacity: 1;
    font-size: larger;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    font-size: small;
  }
  100% {
    opacity: 1;
    font-size: larger;
  }
}
@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadein {
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slidein {
  -webkit-animation: slidein 3s;
  animation: slidein 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh !important;
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

.inner {
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  z-index: 2;
}
.title h1 {
  width: 50%;
}

main {
  width: 100%;
  height: 100%;
}
main .main_description {
  position: absolute;
  bottom: 60px;
  left: 70px;
  font-size: 1.8rem;
  letter-spacing: 5px;
  line-height: 2;
}

.face {
  position: absolute;
  top: 40%;
  left: 0;
  width: auto;
}
.face .front {
  top: calc(50% + 40px);
}
.face .back {
  top: calc(50% - 130px);
}

.icon-cards {
  position: absolute;
  top: calc(50% - 250px);
  right: 250px;
  width: 60vw;
  height: 40vw;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.checkbox__label {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.carousel_txt {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 2rem;
}
.carousel_txt ul li .item_title {
  max-width: 450px;
}

@media (max-width: 960px) {
  body {
    padding: 0;
  }
  .inner {
    width: 100%;
    height: 100%;
    padding: 35px;
    overflow: hidden;
  }
}
.next {
  display: none;
}

.prev {
  display: none;
}

.count_num_wrap {
  position: absolute;
  right: 3%;
  bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
.count_num_wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  transform: rotate(45deg);
}
.count_num_wrap .count_num_all {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 30px);
  font-size: 1.6rem;
}
.count_num_wrap span + span:before {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-40deg);
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
}
.count_num_wrap .count_num_now {
  position: absolute;
  top: calc(50% - 20px);
  left: 45%;
  font-size: 5rem;
}

@media (max-width: 960px) {
  .count_num_wrap:after {
    transform: none;
  }
}
.item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.7);
  transition: 1s;
}

.item.front_slide:after {
  content: none;
  transition: 1s;
}

.item.front_slide p.carousel_title:after {
  content: none;
  transition: 1s;
}

footer {
  position: absolute;
  bottom: 50%;
  right: 70px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  letter-spacing: 5px;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  top: 47%;
  left: calc(50% - 100px);
  transform: translateY(-50%);
}

.carousel {
  height: 600px;
  width: 600px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #000;
  width: 600px;
  height: 550px;
  font-size: 5em;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}
.item a {
  width: 100%;
  height: 100%;
}
.item p.carousel_title {
  position: absolute;
  bottom: 30px;
  left: -30px;
  width: 74%;
  padding: 5px;
  font-size: 2rem;
  background-color: #222222;
}
.item p.carousel_title::after {
  content: "";
  width: 100%;
  height: -webkit-fill-available;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.7);
  transition: 1s;
}
.item p.carousel_category {
  position: absolute;
  bottom: -30px;
  left: -20px;
  font-size: 1.4rem;
}
.item p.carousel_date {
  position: absolute;
  bottom: -30px;
  right: 0px;
  font-size: 1.4rem;
}

.a {
  transform: rotateY(0deg) translateZ(600px);
  background: #ed1c24;
  background-image: url(../img/dammy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.b {
  transform: rotateY(120deg) translateZ(600px);
  background: #0072bc;
  background-image: url(../img/dammy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c {
  transform: rotateY(240deg) translateZ(600px);
  background: #39b54a;
  background-image: url(../img/dammy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.next:hover, .prev:hover {
  color: #000;
}

.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}

.next {
  right: 5em;
}

.prev {
  left: 5em;
}

@media (max-width: 960px) {
  .carousel {
    width: 100%;
    height: auto;
  }
  .container {
    width: 100%;
    height: auto;
    top: 210px;
    left: 0;
    transform: none;
  }
  .item {
    width: 85%;
    height: 250px;
  }
  .title {
    top: 100px;
    left: 0;
  }
  .title h1 {
    width: 70%;
    margin: 0 auto;
  }
  .a {
    transform: rotateX(-10deg) rotateY(12deg) translateZ(200px);
  }
  .b {
    transform: rotateX(-10deg) rotateY(120deg) translateZ(200px);
  }
  .c {
    transform: rotateX(-10deg) rotateY(240deg) translateZ(200px);
  }
  .front_slide.a {
    transform: rotateX(0deg) rotateY(12deg) translateZ(200px);
  }
  .front_slide.b {
    transform: rotateX(0deg) rotateY(120deg) translateZ(200px);
  }
  .front_slide.c {
    transform: rotateX(0deg) rotateY(240deg) translateZ(200px);
  }
  .count_num_wrap {
    width: 110px;
    height: 110px;
    border: none;
    bottom: 0;
    right: 0;
  }
  .count_num_wrap span + span::before {
    transform: rotate(-50deg);
    top: 5px;
    left: -20px;
  }
  .count_num_wrap::after {
    width: 80%;
    height: 80%;
  }
  .count_num_wrap .count_num_all {
    font-size: 1.6rem;
    top: calc(50% - 25px);
    left: calc(50% - 20px);
  }
  .count_num_wrap .count_num_now {
    top: calc(50% - 10px);
    left: 50%;
    font-size: 3rem;
  }
  footer {
    right: 10px;
    bottom: 39%;
  }
  main .main_description {
    bottom: 35px;
    left: 35px;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
}/*# sourceMappingURL=style.css.map */