@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    font-size: small;
  }
  100% {
    opacity: 1;
    font-size: larger;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    font-size: small;
  }
  100% {
    opacity: 1;
    font-size: larger;
  }
}
@-webkit-keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fadein {
  -webkit-animation: fadein 3s;
  animation: fadein 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slidein {
  -webkit-animation: slidein 3s;
  animation: slidein 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh !important;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.inner {
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  z-index: 2;
}

main {
  width: 100%;
  height: 100%;
}
main .main_description {
  position: absolute;
  bottom: 60px;
  left: 70px;
  font-size: 1.8rem;
  letter-spacing: 5px;
  line-height: 2;
}

.icon-cards {
  position: absolute;
  top: calc(50% - 250px);
  right: 250px;
  width: 60vw;
  height: 40vw;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #110f15;
}

.checkbox__label {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.carousel_txt {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 2rem;
}
.carousel_txt ul li .item_title {
  max-width: 450px;
}

.next {
  display: none;
}

.prev {
  display: none;
}

.count_num_wrap {
  position: absolute;
  right: 70px;
  bottom: 70px;
  border: 1px solid;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count_num_wrap .count_num_all {
  font-size: 1.4rem;
}
.count_num_wrap .count_num_border {
  font-size: 2rem;
}
.count_num_wrap .count_num_now {
  font-size: 4.2rem;
}

footer {
  position: absolute;
  bottom: 50%;
  right: 70px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  letter-spacing: 5px;
  font-size: 10px;
}

body {
  background: #333;
  padding: 70px 0;
  font: 15px/20px Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 40vw;
  height: 50vh;
  max-width: 560px;
  max-height: 610px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}
.item a {
  width: 100%;
  height: 100%;
}
.item p.carousel_title {
  position: absolute;
  bottom: 30px;
  left: -30px;
  padding: 5px;
  font-size: 2rem;
  background-color: #222222;
}
.item p.carousel_category {
  position: absolute;
  bottom: -30px;
  left: -20px;
  font-size: 1.4rem;
}
.item p.carousel_date {
  position: absolute;
  bottom: -30px;
  right: 0px;
  font-size: 1.4rem;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
  background-image: url(../img/dammy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.b {
  transform: rotateY(120deg) translateZ(250px);
  background: #0072bc;
  background-image: url(../img/dammy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c {
  transform: rotateY(240deg) translateZ(250px);
  background: #39b54a;
  background-image: url(../img/dammy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

.next:hover, .prev:hover {
  color: #000;
}

.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}

.next {
  right: 5em;
}

.prev {
  left: 5em;
}/*# sourceMappingURL=style.css.map */